<app-header></app-header>
<div class="nav-bar" >
  <div class="nav-body" fxLayout="row">
      <nav fxLayoutAlign="end start">
        <a routerLink="/accessories"><mat-icon color="primary" matTooltip="Accessories" class="svgicon accessories" svgIcon="accessories"></mat-icon></a>
        <a routerLink="/bodypart">  <mat-icon  color="primary" matTooltip="Bodyparts" class="svgicon motor" svgIcon="motor"></mat-icon></a>
        <a routerLink="/spareparts"><mat-icon color="primary" matTooltip="Spareparts" matTooltipPosition="after" class="svgicon spareparts" svgIcon="spareparts"></mat-icon></a>
      </nav>
  </div>
</div>
<router-outlet></router-outlet>


